body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Space Mono', monospace;
    background-image: linear-gradient( #b92b27, #1565c0);
}

section.board {
    display: grid;
    grid-template-rows: repeat(3, 10vmin);
    grid-template-columns: repeat(3, 10vmin);
    /* grid-template-areas: 
    "sq1 sq2 sq3"
    "sq4 sq5 sq6"
    "sq7 sq8 sq9"; */
    grid-gap: 0vmin;
    border: 5px;
    border-color: black;
}

div {
    border: 3px solid black;
    font-size: 8vmin;
    text-align: center;
    vertical-align: middle;
}

#music-button{
    border-color: rgb(140, 133, 147);
    height: 30px;
    width: 50px;
    background-color: rgb(47, 6, 89);
}

#button{
    border-color: orange;
    background-color: orangered;
    height: 50px;
    width: 150px;
}

