body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-family: 'Space Mono', monospace;
    background-image: linear-gradient( #b92b27, #1565c0);
} 

section.board {
    display: grid;
    grid-template-rows: repeat(3, 15vmin);
    grid-template-columns: repeat(3, 15vmin);
    grid-gap: 0vmin;
    border: 5px;
    border-color: black;
    height: max-content;
    width: max-content;
}

.board div {
    border: 3px solid rgb(225, 191, 191);
    font-size: 8vmin;
    text-align: center;
    vertical-align: middle;
}

#music-button{
    border-color: rgb(140, 133, 147);
    height: 30px;
    width: 50px;
    background-color: rgb(47, 6, 89);
}

#button{
    border-color: orange;
    background-color: orangered;
    height: 50px;
    width: 150px;
}

#winner-image{
   border: none;
}
